<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmpresaMySQLApp.Properties.Settings.connString" connectionString="server=127.0.0.1;port=3306;database=empresa;uid=root;pwd=1234;Charset=utf8" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>